.form-group {
  margin-bottom: 5%;
  label {
    margin-bottom: 2%;
  }

  .custom-control-label {
    padding-left: 0.5rem;
  }
}

// common class start
.pull-right {
  float: right;
}

// common class end
