#login {
  width: 87vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // color: white;
  & .card {
    width: 40%;
    height: 40%;
    & .card-title {
      border-bottom: 1px solid #efefef;
      padding-bottom: 2%;
      text-transform: uppercase;
    }
  }
}

.authincation-content {
  background: #fff;
  box-shadow: 0 0 2.1875rem 0 rgb(154 161 171 / 15%);
  border-radius: 0.3125rem;
}

.auth-form {
  padding: 3.125rem 3.125rem;
}
