<!-- <b-container class="bv-example-row">
  <div id="login">
    <b-card title="Sign In to continue" tag="article" class="mb-2">
      <b-card-text>
        <b-form-group label="Email" label-for="email">
          <b-form-input
            id="email"
            v-model="email"
            type="email"
            placeholder="Enter email"
            required
          ></b-form-input>
        </b-form-group>
      </b-card-text>

      <b-card-text>
        <b-form-group label="Password" label-for="password">
          <b-form-input
            id="password"
            v-model="password"
            type="password"
            placeholder="Enter"
            required
          ></b-form-input>
        </b-form-group>
      </b-card-text>

      <b-button href="#" variant="outline-primary" @click="login()"
        >Sign In</b-button
      >
    </b-card>
  </div>
</b-container> -->

<div class="authincation h-100">
  <div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-md-5">
        <div class="authincation-content">
          <div class="row no-gutters">
            <div class="col-xl-12">
              <div class="auth-form">
                <h4 class="text-center mb-4">Sign in your account</h4>
                <form>
                  <div class="mb-3">
                    <label class="mb-1"><strong>Email</strong></label>
                    <!-- <input type="email" class="form-control" /> -->
                    <b-form-input
                      id="email"
                      v-model="email"
                      type="email"
                      placeholder="Enter email"
                      required
                    ></b-form-input>
                  </div>
                  <div class="mb-3">
                    <label class="mb-1"><strong>Password</strong></label>
                    <!-- <input v-model="password" type="password" class="form-control" /> -->
                    <b-form-input
                      id="password"
                      v-model="password"
                      type="password"
                      placeholder="Enter"
                      required
                    ></b-form-input>
                  </div>

                  <div class="text-center">
                    <button
                      @click="login()"
                      type="button"
                      class="btn btn-primary btn-block"
                      >Sign Me In</button
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
